DATABASE_URL=postgresql://user:password@host:5432/database?sslmode=require
BRIGHT_DATA_API_TOKEN=
LOWES_DATASET_ID=gd_lnvl79pfftqh18u2o
BRIGHT_DATA_UNLOCKER_ZONE=tcds_web_unlocker
BRIGHT_DATA_PREMIUM_UNLOCKER_ZONE=tcds_premium_unlocker
LOWES_UNLOCKER_MODE=always
LOWES_UNLOCKER_ZONE_POLICY=standard_only
LOWES_UNLOCKER_COUNTRY=us
LOWES_SEED_URLS=https://www.lowes.com/pl/power-tools/4294607842?goToProdList=true,https://www.lowes.com/pl/outdoor-tools-equipment/lawn-mowers/push-lawn-mowers/4294612707
LOWES_LOCATION=
LOWES_LIMIT_PER_INPUT=50
LOWES_DETAIL_LIMIT_PER_INPUT=1
HTTP_TIMEOUT_MS=300000
HTTP_MAX_ATTEMPTS=6
SNAPSHOT_POLL_INTERVAL_MS=15000
SNAPSHOT_MAX_WAIT_MS=3600000
INGEST_CONCURRENCY=4
DLQ_DIRECTORY=./dlq
LOG_LEVEL=info
